body {
    background-color: whitesmoke;
  }
  h1 {
    color: f58025;
  }
.dropdown-menu
 {
   max-height: 200px;
   overflow-y: scroll;
  }

.uploadbox{
  /* height: 200px; */
  border: dashed black;
  /* border-radius: 3px;
  margin: 0 auto;
  margin-top: 100px; */
  text-align: left;
}

.form-group{
  text-align:center;
  flex-grow:1
}

#label {
  float: left;
  width: 80px;
}

#searchBar{
  float: left;
}

#addNewModal{
    margin-top:0%;
    margin-left:0%;
  float: left;
}

.dropdown-menu {
  overflow-y: hidden;
}


.button_main {
  border-radius: 35px;
}
